@import "dfc.css";
@import "base.css";
@import "fb.css";

@import "index.css";

@import "style.css";
.content .usnc_right{width:1120px;float: left;margin-left:40px;border: none;}


.change_tab{height: 40px;line-height: 40px;text-align: center;}
.change_tab a{display: inline-block;width:130px;color:#666;font-weight: bold;font-size: 14px;}
.change_tab a:hover{color:#108ee9;border-bottom: 3px solid #108ee9;}
.change_tab .on_new{color:#108ee9;border-bottom: 3px solid #108ee9;}
.select_div{width:1198px;margin:0 auto;border:1px solid #e4e4e4;height: 85px;text-align:center;background: #fff;border-radius: 4px;margin-top:3px;}
.select_div form{width:1050px;margin:0 auto;height:35px;overflow:hidden;margin-top:25px;}
.select_div select{width: 165px;height: 35px;float:left;border:1px solid #d6dbdd;border-radius: 4px;color:#252525;text-indent: 5px;margin-right: 5px;font-size: 13px;}
.search_input{width:680px;height:35px;float:left;}
.search_trade{float:left;background: #108ee9;color:#fff;width: 160px;height: 35px;outline: none;border:1px solid #108ee9;border-radius: 4px;margin-left: 40px;font-size: 13px;}
.table_trade{width: 1200px;margin-top:30px;background: #fff;padding-bottom: 20px;border-radius: 4px 4px 0 0;min-height: 750px;}
.table_trade table tr th{background: #f7f7f7;font-size: 14px;color:rgba(0, 0, 0, 0.9);text-align: left;font-weight: 500;height:53px;}
.table_trade table tr td{padding:16px 0;border-bottom: 1px solid #d6dbdd;font-size: 14px;color: rgba(0, 0, 0, 0.7);}
.table_trade table tr:hover{background: #ecf6fd;}
.bsedit{color:#108ee9;display: inline-block;width:72px;height:30px;border:1px solid #108ee9;line-height:30px;text-align: center;border-radius: 4px;}


 
.bottom{margin-bottom: -2px;}
.noticeright{width: 350px;height: auto;overflow: hidden;float: right;border:1px dashed #e75600;font-size: 13px;text-align:left;padding:15px;color: #e75600;line-height: 23px;}
.noticeright h4{font-size: 16px;font-weight: 900;margin-bottom: 10px;text-align: center;}
.fxts{width:1200px;margin:20px auto 0;height:auto;color:#fff;border-bottom:1px solid rgba(255,255,255,0.1);padding: 0 0 20px;color:#e75600;}
.fxts h3{font-size: 18px;margin-bottom: 15px;color:#e75600;}
.fxts h3 .span1{display: inline-block;width:23px;height:23px;border:1px solid #e75600;border-radius: 20px;text-align: center;line-height: 23px;color:#e75600;margin-right:5px;}
.fxts p{font-size: 13px;line-height: 20px;color:#e75600;}
.ftmenu_new{width:300px;float:right;}
.ftmenu_new p{font-size: 13px;color:#989FA9;line-height: 30px;}
.ftmenu_new .phone{font-size:13px;color:#989FA9;line-height: 30px;}
 