.wechat{
    width: 100%;float:right;
    height: 700px;border:1px solid #d9d9d9;
    padding-bottom: 0px;position:relative;
    margin-left:50px;
}
.chat {
    position: relative;
    overflow: hidden;
    background-color: #eee;
    
    height: 100%;
    width: 100%;

}
.chatlist {
    height: calc(100% - 60px);
    padding: 10px 15px;
    overflow-y: scroll;
    background-color: white;
}

.chatlist-bottom {
    bottom: 48px;
}

.chatlist-bottom-collapse {
    bottom: 198px;
}

.chatlist ul {
    min-height: 300px;
}

.chatlist ul .chat-mine {
    text-align: right;
    padding-left: 0;
    padding-right: 60px;
}

.chatlist ul li {
    position: relative;
    /*font-size: 0;*/
    margin-bottom: 10px;
    padding-left: 60px;
    min-height: 68px;
}

.chat-mine .chat-user {
    left: auto;
    right: 3px;
}

.chat-user {
    position: relative;
    left: 3px;
}

.chat-text,
.chat-user {
    display: inline-block;
    vertical-align: top;
    /*font-size: 14px;*/
}

.chat-user img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.time {
    width: 100%;
}

cite {
    left: auto;
    right: 60px;
    text-align: right;
}

cite {
    font-style: normal;
    line-height: 24px;
    font-size: 12px;
    white-space: nowrap;
    color: #999;
    text-align: left;
}

cite i {
    font-style: normal;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.chat-mine .chat-text {
    margin-left: 0;
    text-align: left;
    background-color: #33DF83;
    color: #fff;
    right:50px;
}
.msgimg{
    max-width: 120px;
}

.chat-text {
    
    line-height: 22px;
    /*margin-top: 25px;*/
    padding: 10px 15px;
    background-color: #eee;
    border-radius: 3px;
    color: #333;
    word-break: break-all;
    max-width: 462px\9;
}

.chat-text,
.chat-user {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.chat-text img {
    max-width: 120px;
    vertical-align: middle;
}

.chat-user {
    position: absolute;
    left: 3px;
}
.chat-text-system{
    text-align: center;
    color:gray;
    size:16px;
}
/*
.chat-text:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 15px;
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-color: #eee transparent transparent;
    overflow: hidden;
    border-width: 10px;
}

.chat-mine .chat-text:after {
    left: auto;
    right: -10px;
    border-top-color: #33DF83;
}*/

.foot {
    height: 60px;
    border-top: solid 1px #ddd;
    
}
.foot .el-input-group {
    height:60px;

}
.foot .el-input-group--append .el-input__inner, .el-input-group__prepend {
  
    height:60px;
}
.foot .con {
    position: relative;
    left: 66px;
    right: 40px;
}

.foot .btn-plus {
    width: 28px;
    padding: 9px 3px;
    position: relative;
    left: 0px;
    border-left: 1px solid #d9d9d9;
}

.foot .btn-plus i {
    font-size: 2em;
    color: #ccc;
}

.foot .btn-face {
    width: 28px;
    padding: 9px 3px 9px 0px;
    position: relative;
    left: 35px;
    /*border-right: 1px solid #d9d9d9;*/
}

.foot .btn-face i {
    font-size: 2em;
    color: #d9d9d9;
}

.foot .selbox {
    height: 150px;
    margin-top: 48px;
    border-top: 1px solid #d9d9d9;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.face-box {
    /* position: relative; */
    /* top: 48px; */
    /* left: 0px; */
    /* right: 0px; */
    /* bottom: 0px; */
    padding: 15px 15px 0px 15px;
    overflow: hidden;
    width: 290px;
    margin: 0px auto;
    height: 135px;
}

.face-box li {
    width: 30px;
    float: left;
    padding: 6px 10px 0px 8px;
}

.btn {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 32px;
    margin-left: 5px;
    padding: 0 6px;
    background-color: #33DF83;
    color: #fff;
    border-radius: 3px;
}

.btn-send {
    position: relative;
    right: 0px;
    top: 8px;
}


.ul_add{display: inline-block;margin:0 auto;overflow: hidden;}
.ul_add li{float: left;width:33px;font-size: 16px;color:rgba(0,0,0,0.7);text-align: center;}
.ul_add .li_new{width:150px;height: 80px;}
.ul_add .li_new1{line-height:40px;font-weight: bold;}
.ul_add .li_new img{width: 40px;}